body {
	font-family: sans-serif;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	font-size: 12pt;
}

.morrowind {
	font-family: 'Metamorphous', cursive;
	font-size: 130%;
}

.morrowind .answer {
	font-family: 'IM Fell Double Pica', serif;
	font-size: 1.5em;
	letter-spacing: 0.1em;
	margin-left: 1em;
}

.morrowind .question {
	font-family: 'IM Fell Double Pica', serif;
	font-size: 200%;
}

.papoc {
	font-family: Share, monospace;
	font-size: 1.5em;
}